@use "mixins" as mixins;
.about {
  background-color: #ff4646;
  width: 100%;
  box-sizing: border-box;
  background-image: url("../assets/images/snow.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 60px 82px;
  .about__container {
    border-radius: 20px;
    @include mixins.flex-center;
    background-color: #ffffff;
    .about__content {
      width: 54.4%;
      box-sizing: border-box;
      margin: 18px 0 15px 60px;
      .about__subtitle {
        @include mixins.subtitle;
        color: #ff4646;
      }
      .about__title {
        margin: 21.5px 0 21px;
        max-width: 426px;
        @include mixins.header-2;
      }
      .about__text {
        @include mixins.header-3;
        max-width: 426px;
      }
    }
    .about__image {
      width: 60%;
      background-image: url("../assets/images/santa.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 528px;
      border-radius: 20px;
    }
  }
}
