.about {
  background-color: #ff4646;
  width: 100%;
  box-sizing: border-box;
  background-image: url("../assets/images/snow.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 60px 82px;
  .about__container {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    .about__content {
      width: 54.4%;
      box-sizing: border-box;
      margin: 18px 0 15px 60px;
      .about__subtitle {
        font-family: "Allura";
        font-size: 24px;
        line-height: 100%;
        font-weight: 400;
        letter-spacing: 1.2px;
        color: #ff4646;
      }
      .about__title {
        margin: 21.5px 0 21px;
        max-width: 426px;
        font-family: "Montserrat";
        font-size: 24px;
        line-height: 152%;
        font-weight: 600;
        letter-spacing: 3.84px;
        text-transform: uppercase;
      }
      .about__text {
        font-family: "Montserrat";
        font-size: 16px;
        line-height: 148%;
        font-weight: 400;
        max-width: 426px;
      }
    }
    .about__image {
      width: 60%;
      background-image: url("../assets/images/santa.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 528px;
      border-radius: 20px;
    }
  }
}
