@use 'mixins' as mixins;
.cta {
  background-color: #ff4646;
  color: #ffffff;
  width: 100%;
  background-image: url("../assets/images/forest-bg.png"),
    url("../assets/images/snow.png");
  background-repeat: no-repeat;
  background-position: 20%, center;
  background-size: 100%, cover;
  border-radius: 0 0 20px 20px;
  display: flex;
  justify-content: center;
  .cta__container {
    margin: 182px 0 172px;
    padding: 0 0 0 0;
    max-width: 420px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .cta__title {
      @include mixins.header-2;
      color: #ffffff;
      text-align: center;
    }
    .cta__button {
      padding: 20.5px 31px;
      margin: 18px auto 21px;
      border-radius: 20px;
      background-color: #181c29;
      @include mixins.header-4;
      color: #ffffff;
    }
    .cta__subtitle {
      @include mixins.subtitle;
      text-align: center;
    }
    .cta__timer {
      @include mixins.flex-center;
      border-radius: 20px;
      margin: 7px 39px;
      background-color: rgb(255, 255, 255, 0.4);
      width: 343.5px;
      height: 72px;
      .cta__timer-item {
        @include mixins.flex-center;
        flex-direction: column;
        padding: 8px 10px;
        box-sizing: border-box;
        width: 80px;
        .cta__timer-number {
          @include mixins.header-2;
          color: #ffffff;
          text-align: center;
        }
        .cta__timer-label {
          @include mixins.header-4;
          color: #ffffff;
        }
      }
    }
  }
}
