@use 'mixins' as mixins;
.footer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  .footer__contacts {
    display: flex;
    justify-content: center;
    column-gap: 12px;
    margin: 61px 0;
    .footer__item {
      width: 418px;
      height: 204px;
      border-radius: 20px;
      background-color: #ecf3f8;
      text-align: center;
      padding: 20px 0;
      box-sizing: border-box;
      .footer__link {
        display: flex;
        justify-content: center;
        margin: 15px 0 13px 3px;
        .footer__link-text {
          color: #181c29;
          @include mixins.header-2;
        }
      }
      .footer__description {
        @include mixins.header-description;
        color: #181c29;
      }
    }
    .footer__item:nth-child(3) .footer__link,
    .footer__item:nth-child(2) .footer__link {
      margin: 13px 0;
    }
  }
  .footer__bottom {
    text-align: center;
    .footer__social {
      margin: 40px auto 2px;
      .footer__social-link {
        width: 40px;
        height: 40px;
        display: inline-block;
        margin: 6px 4px;
      }
    }
  }
  .footer__copyright {
    color: #181c29;
    @include mixins.header-3;
  }
  .footer__info {
    @include mixins.subtitle;
    color: #181c29;
    margin: 10px 0 60px 0;
  }
}
