@use 'mixins' as mixins;
.gifts {
  padding: 58px 0;
  background-color: #ff4646;
  width: 100%;
  box-sizing: border-box;
  background-image: url("../assets/images/snow.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  .gifts__subtitle {
    @include mixins.subtitle;
    color: #ffffff;
  }
  .gifts__title {
    @include mixins.header-2;
    color: #ffffff;
    margin: 14px 0 18px 2px;
  }
  .gifts__container {
    @include mixins.flex-center;
    column-gap: 12px;
    flex-wrap: wrap;
    .gifts__card {
      background-color: #ffffff;
      border-radius: 20px;
      width: 310px;
      height: 342px;
      box-sizing: border-box;
      text-align: start;
      .gifts__card-title {
        @include mixins.header-4;
        margin: 20px 20px 10px 20px;
      }

      .gifts__card-text {
        @include mixins.header-description;
        margin: 0 20px;
      }
    }
    .gifts__card:nth-child(1) .gifts__card-title {
      color: #4361ff;
    }

    .gifts__card:nth-child(2) .gifts__card-title {
      color: #06a44f;
    }

    .gifts__card:nth-child(3) .gifts__card-title {
      color: #4361ff;
    }

    .gifts__card:nth-child(4) .gifts__card-title {
      color: #ff43f7;
    }
  }
}
