@use 'mixins' as mixins;
.header {
  @include mixins.flex-space-between;
  margin: 20px 102px;
  .header__logo {
    @include mixins.flex-space-between;
    cursor: pointer;
    .header__logo-text {
      @include mixins.header-4;
      color: #181c29;
      padding-left: 10px;
    }
  }
  .header__nav {
    .nav__list {
      @include mixins.flex-space-between;
      .nav__item {
        padding: 0 0 0 48px;
        .nav__link {
          @include mixins.header-4;
          letter-spacing: 0.6px;
          color: #181c29;
        }
      }
    }
  }
}
