@use 'mixins' as mixins;
.hero {
  background-color: #ff4646;
  color: #ffffff;
  width: 100%;
  background-image: url("../assets/images/christmasBoll.png"),
    url("../assets/images/snow.png");
  background-repeat: no-repeat;
  background-position: center, center;
  background-size: cover, cover;
  border-radius: 20px 20px 0 0;
  .hero__content {
    margin: 0 auto;
    padding: 120px 0 119px;
    max-width: 452px;
    text-align: center;

    .hero__subtitle {
      @include mixins.subtitle;
    }
    .hero__title{
      @include mixins.header-1;
      margin: 12px 11.5px;
    }
    .hero__button {
      border-radius: 20px;
      background-color: #181c29;
      color: #ffffff;
      padding: 20px 32.5px;
      margin-bottom: 13px;
      @include mixins.header-4;
    }
  }
}
